.carousel-container {
  position: relative;
  display: flex;
  flex-flow: column;
  justify-items: center;
  align-items: center;
  margin: auto;
}

.carousel-container::before {
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  z-index: 10;
  top: 0;
  bottom: 0;
}

.carousel-container .overlay-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 12;
  background-color: rgba(0, 0, 0, 0.442);
  text-align: center;
  width: 50%;
  min-width: 320px;
  padding: 1rem;
}
.carousel-container h1,
.carousel-container h3 {
  color: rgba(255, 255, 255, 0.802);
}
.carousel-container h1 {
  font-size: 4rem;
}
.carousel-container h3 {
  font-size: 1.5rem;
}

.carousel img {
  width: 100%;
  height: 100%;
  cursor: pointer;
  position: relative;
}

.carousel-leftArrow,
.carousel-rightArrow {
  font-size: 3rem;
  position: absolute;
  color: white;
  cursor: pointer;
  user-select: none;
  opacity: 0.5;
  top: 50%;
  transform: translateY(-50%);
  z-index: 12;
}

.carousel-leftArrow:hover,
.carousel-rightArrow:hover {
  opacity: 1;
}

.carousel-leftArrow {
  left: 10px;
}

.carousel-rightArrow {
  right: 10px;
}

.container-dots {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  z-index: 12;
}

.dot {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 3px solid #f1f1f1;
  margin: 0 5px;
  background: #f1f1f1;
  cursor: pointer;
  opacity: 0.5;
}

.dot:hover {
  opacity: 1;
}

.dot.active {
  background: rgb(32, 32, 32);
}
