/* sidebar */
.sidebar {
  background-color: white;
  padding: 1rem 2rem;
  overflow-y: scroll;
  color: var(--grey-color-dark);
  border-right: 0.3px solid gainsboro;
}
.sidebar .list-header {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: space-between;
}
.filter-checkbox input {
  margin-right: 0.5rem;
}
.filter-checkbox {
  color: var(--grey-color-dark);
}

.star-rating {
  color: #ffb400;
}

.slider-container ::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 14px; /* 1 */
  height: 10px;
  background: #fff;
  box-shadow: -100vw 0 0 100vw var(--grey-color-dark);
  border: 2px solid var(--bg-dark); /* 1 */
}

.slider-container ::-moz-range-track {
  height: 12px;
  background: #ddd;
}

.slider-container ::-moz-range-thumb {
  background: #fff;
  height: 10px;
  width: 14px;
  border: 2px solid var(--bg-dark);
  border-radius: 0 !important;
  box-shadow: -100vw 0 0 100vw var(--grey-color-dark);
  box-sizing: border-box;
}

@media all and (max-width: 670px) {
  .sidebar {
    display: none;
  }
  .sidebar.active {
    display: unset;
  }
}
