/* price-section */
.price-section {
  background-color: white;
  padding: 1rem 2rem;
  overflow-y: auto;
  color: var(--grey-color-dark);
  box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px,
    rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
}
.price-section .price-title {
  text-align: center;
}
.price-section .item-list {
  /* Remove Scroll property */
  /* height: 250px;
  max-height: 250px;
  overflow-x: hidden;
  overflow-y: auto; */
}
.price-section .price-list {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: space-between;
}
.price-section .price-list span:first-child {
  max-width: 60%;
}
.price-section .price-list .text-success {
  color: var(--success-color);
}
.price-section .price-list .text-strike {
  text-decoration: line-through;
}

.btn-place-order {
  width: 100%;
}
.error-message {
  display: flex;
  color: var(--danger-color);
  font-size: 0.9rem;
  font-weight: 600;
}
.error-message svg {
  margin-top: 1px;
}
.modal-btns button {
  min-width: 100px;
}
.coupon-section {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: space-between;
  cursor: default;
}
.coupon-section h4 {
  display: inline-flex;
  flex-flow: row;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
}
.coupon-section button.btn {
  padding: 0.4rem 0.6rem;
  margin: 0.5rem 0 1rem;
}

.list .coupon-tag {
  padding: 1rem;
  border: 1px var(--grey-color-dark) dashed;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
  gap: 1rem;
}
.list .coupon-tag.invalid-coupon {
  opacity: 0.7;
  cursor: not-allowed;
}
.coupon-discount-title {
  display: flex;
  flex-flow: row;
  gap: 0.5rem;
}
.coupon-discount-title svg {
  color: var(--danger-color);
  cursor: pointer;
}

/* Responsiveness */
@media all and (max-width: 875px) {
  .cart > .price-section {
    grid-row: 1;
  }
}

@media all and (max-width: 525px) {
  .price-section .price-title {
    font-size: 1.6rem;
  }
}
